* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1280px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #056969;
  padding: 1rem 2rem;
  border-radius: 7px;
}

.logo-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 2rem;
}

@media (max-width: 70rem) {
  .nav-items {
    display: none;
  }
}

.nav-item a {
  text-decoration: none;
  color: #607280;
}

.logo-icon {
  color: #056969;
  font-size: 3rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 50%;
}

.hero-tagline {
  color: #056969;
  font-weight: 500;
}

.hero-heading {
  font-size: 50px;
}

@media(max-width:90rem) {
  .hero-heading {
    font-size: 3rem;
  }
}
.hero-text-tag {
 font-size: 1rem;
  background: #e5e7eb;
  color: #4b5563;
  width: fit-content;
  padding: 2px 1rem;
  border-radius: 2rem;
}

@media(max-width:40rem) {
  .hero-text-tag {
   font-size: 1rem;
  }
}

.hero-paragraph {
  color: #455563;
}

.hero-lists {
  list-style: none;
  color: #455563;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-list i {
  color: #056969;
}

.outlined-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  border: 1px solid #e5e7eb;
  border-radius: 7px;
}

.hero-btn-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-image {
  width: 50rem;
  height: 40rem;
  border-radius: 10px;
}

@media(max-width: 900px) {
  .hero-image {
    width: 40rem;
    height: 30rem;
  }
}
@media(max-width: 740px) {
  .hero-image-wrapper {
    display: none;
  }

  .hero-content {
    flex-basis: 100%;
  }
}
.how-it-works {
  background-color: #f0f2f1;
  padding: 5rem 2rem;
}

.how-it-works-title {
  text-align: center;
}

.how-it-works-title h3 {
  font-size: 3.2rem;
  font-weight: 500;
}

.how-it-works-title p {
  color: #455563;
}

.how-it-works-card-container {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 4rem;
}

@media(max-width: 640px) {
  .how-it-works-card-container {
    flex-direction: column;
  }
}
.how-it-works-card {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
}

.how-it-works-card h4 {
  font-weight: 600;
  font-size: 2rem;
}

.card-icon {
  display: flex;
  background-color: #f0f2f1;
  width: 3.2rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #056969;
}

.everything-you-need {
  padding: 5rem 2rem;
}

.everything-you-need-title {
  text-align: center;
}

.everything-you-need-title h3 {
  font-size: 32px;
  font-weight: 500;
}

.everything-you-need-title p {
  color: #455563;
}

.everything-you-need-card-container {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}

@media(max-width: 640px) {
  .everything-you-need-card-container {
    flex-direction: column;
  }
}
.everything-you-need-card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.everything-you-need-card h4 {
  font-weight: 500;
  font-size: 2rem;
}

.everything-you-need-card p {
  color: #455563;
}

.everything-you-need-card ul {
  color: #455563;
  list-style: none;
}

.account{
    background: white;
    color: #059665;
    text-decoration: none;
    font-weight: 900;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 1.5rem 3rem;
    margin: 10px auto;
    margin-top: 10px;

}

.div__account {
    color: white;
    border-radius: 8px;
    padding: 3rem;
    background-color: #059665;
    text-align: center;
    margin-bottom: 20px;
    
}

.div__account p {
  line-height: 3rem;
}
.account-btn {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

footer {
    margin-top: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: rgb(102, 94, 94);
    flex-flow: row nowrap;
}